body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

header {
  background-color: #111;
  color: white;
  padding: 20px;
  text-align: center;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 6px;
}

.notice {
  background-color: #fff3cd;
  border-left: 6px solid #ffc107;
}

footer {
  text-align: center;
  padding: 10px;
  color: #666;
}

.Untitled design.png{
  width: 120px;
  margin-bottom: 10px;
}


